<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyStore</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyStore.styles.css" asp-append-version="true" />

    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    
    <header>
        @{
            //Html.RenderPartial("_LoggedIn");  
            
        }
        @if (Context.Session.GetString("loggedIn") == "true")
        {
            Html.RenderPartial("_LoggedIn"); 
        }
        else
        {
             <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="/Index">Learning</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="" id="homeContainer"><a href="/Index" id="homeLink">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">Pages <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a asp-area="" asp-page="/Index">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul>
                        </li>
                        <li id="privacyContainer"><a href="/Privacy">Privacy</a></li>
                        <li id="clientsContainer"><a class="text-dark" asp-area="" asp-page="/Clients/Index">Clients</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="registerContainer"><a  href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li id="loginContainer"><a  href="/Account/Login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        }
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MyStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    

    @await RenderSectionAsync("Scripts", required: false)
</body>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>